/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: 'Press Start 2P', cursive;
  background: #1a0033;
  color: #ccc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

/* Header e Navegação */
header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #330066;
  padding: 10px 20px;
  box-shadow: 0 0 10px #6600cc;
  z-index: 10;
  font-size: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

nav a {
  color: #33ccff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #fff;
  text-shadow: 0 0 10px #33ccff;
}

/* Idioma */
.language-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #33ccff;
  font-size: 16px;
  cursor: pointer;
}

.language-wrapper i {
  text-shadow: 0 0 6px #33ccff;
}

#language-select {
  background: #330066;
  border: 2px solid #33ccff;
  color: #33ccff;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

#language-select:hover {
  background: #33ccff;
  color: #1a0033;
  box-shadow: 0 0 10px #00ffff;
}

/* Conteúdo principal */
main {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  box-shadow: 0 0 15px #6600cc;
  text-align: center;
}

main img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #33ccff;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0 0 15px #00ccff;
  filter: drop-shadow(0 0 5px #33ccff);
}

main h1 {
  color: #33ccff;
  margin-bottom: 15px;
  font-size: 20px;
}

main p {
  font-size: 10px;
  margin-bottom: 25px;
  line-height: 1.5;
  color: #aaa;
}

/* Contato */
.contato {
  margin-bottom: 25px;
  font-size: 10px;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contato i {
  color: #33ccff;
  font-size: 14px;
}

/* Redes sociais */
.redes {
  font-size: 12px;
}

.redes a {
  color: #33ccff;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: bold;
}

.redes a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #33ccff;
}


@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Responsividade */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .carrossel-track {
    flex-wrap: nowrap;
  }

  main img {
    width: 100px;
    height: 100px;
  }
}
